NODE_ENV=development
PORT=3000

MYSQL_DB_HOST=localhost
MYSQL_DB_PORT=3306
MYSQL_DB_USER=root
MYSQL_DB_PASSWORD=change-me
MYSQL_DB_NAME=graphql_demo

# Set both values to enable HTTPS.
# SSL_KEY_PATH=./certs/server.key
# SSL_CERT_PATH=./certs/server.crt
# SSL_PASSPHRASE=
